<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://githubmonitorapp1707.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b5d9a929-9765-4730-b548-29b1ffef406d/resourcegroups/S6-Kwetter/providers/Microsoft.Web/sites/GitHubMonitorApp1707</ResourceId>
    <UserName>$GitHubMonitorApp1707</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://githubmonitorapp1707.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>